.center{
    text-align: center;
}
.right {
    text-align: right;
}
.right_F {
    float: right;
}

.left {
    text-align: left;
}
.left_F {
    float: left;
}
/* リストのスタイルをなくす */
.point-none ul{
    list-style: none;
    padding: 0;
}

.text-box {
    width: 500px; /* テキストボックスの幅 */
    margin: 0 auto; /* 水平方向に中央揃え */
}

.text-box_M {
    width: 450px; /* テキストボックスの幅 */
    margin: 0 auto; /* 水平方向に中央揃え */
}
.text-box_S {
    width: 300px; /* テキストボックスの幅 */
    margin: 0 auto; /* 水平方向に中央揃え */
}
.text-box_SS {
    width: 200px; /* テキストボックスの幅 */
    margin: 0 auto; /* 水平方向に中央揃え */
}
@media screen and (max-width: 600px) {
    .text-box {
        width: 100%; /* テキストボックスの幅 */
    }
    body {
        font-size: 14px; /* モバイルデバイス用の小さな文字サイズ */
    }
}
.text-box [type="text"] {
    width: 100%; /* テキストボックスの幅 */
    padding: 10px; /* テキストボックスの内側の余白 */
    box-sizing: border-box; /* テキストボックスの幅にpaddingとborderを含める */
    margin-bottom: 10px; /* テキストボックスの下の余白 */
}

@media screen and (max-width: 450px) {
    .text-box_M {
        width: 100%; /* テキストボックスの幅 */
    }
}
/* boxの模様↓ */
.stripe-box{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
} 
.stripe-box p{
    margin : 0;
    padding: 0;
}

.schedule-box{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.schedule-box p{
    margin : 0;
    padding: 0;
}
.blog-box {
    padding: 0.5em ;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    Text-align:left
}
#comment_field {
    width: 500px;
    text-align: center;
}